.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @include for-size(mobile) {
    width: 480px;
  }

  @include for-size(tablet) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @include for-size(desktop) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
