$primary-white-color: #fcfcfc;

$primary-text-color: #131313;

$primary-background-color: #84a178;

$primary-default-button-color: #f8d24e;
$primary-hover-focus-button-color: #0a8817;
$primary-disabled-button-color: #ababab;

$cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
