@mixin for-size($range) {
  $mobile: 480px;
  $tablet: 768px;
  $desktop: 1200px;

  @if $range == mobile-only {
    @media screen and (max-width: ($tablet - 0.02)) {
      @content;
    }
  } @else if $range == mobile {
    @media screen and (min-width: $mobile) {
      @content;
    }
  } @else if $range == tablet-only {
    @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  } @else if $range == tablet {
    @media screen and (min-width: $tablet) {
      @content;
    }
  } @else if $range == desktop {
    @media screen and (min-width: $desktop) {
      @content;
    }
  } @else if $range == retina {
    @media screen and (min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      @content;
    }
  } @else if $range == notDesktop {
    @media screen and (max-width: #{$desktop - 0.02}) {
      @content;
    }
  }
}
