// !Larysa Furmanchuk

// !В оверлеї і модальні вікна скриваємо командами: (приклад внизу можна стерти після виконання роботи)

// .overlay {

//   opacity: 0;
//   visibility: hidden;

//інші стилі

// }

// .modal {

//   opacity: 0;
//   visibility: hidden;

//   інші стилі
// }

// !потім додаємо клас active(тільки в CSS) щоб JS працював

// .modal.active,
// .overlay.active {
//   opacity: 1;
//   visibility: visible;
// }

.modal__read-more {
  opacity: 0;
  visibility: hidden;

  width: calc(100% - 40px);
  max-width: 400px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  text-align: center;
  padding: 28px;

  background: $primary-white-color;
  border: 2px solid $primary-default-button-color;
  border-radius: 10px;

  transition: $cubic-bezier all;

  @include for-size(tablet) {
    max-width: 568px;
    height: 449px;
    padding: 32px 60px;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal__cross {
  position: absolute;
  top: 8px;
  right: 8px;

  fill: $primary-text-color;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  transition: fill 250ms $cubic-bezier, border-radius 250ms $cubic-bezier;

  &:hover,
  &:focus {
    fill: green;
    border-radius: 50%;
  }
}

.modal__title {
  font-family: 'Seymour One';
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  @include for-size(tablet) {
    margin-bottom: 32px;
    font-size: 20px;
    line-height: 1.4;
  }
}

.modal__video {
  min-height: 199px;
  width: 100%;
  margin-bottom: 20px;

  @include for-size(tablet) {
    margin-bottom: 32px;
  }
}

.modal__text {
  font-size: 14px;
  line-height: 1.4;
  text-align: left;
  color: $primary-text-color;
  @include for-size(tablet) {
    font-size: 16px;
    line-height: 1.4;
    width: 448px;
  }
}
