<!-- !Владислав Сангинов -->

<!-- На посилання або кнопку що відкриває модальне вікно додаєм атрибут *class="js-open-modal"* і 
    *data-modal="*назва модального вікна*"* -->

<!-- На блок модального вікна додаєм атрибут *data-modal="*назва модального вікна*"* -->

<!-- До SVG додоєм клас *js-modal-close* -->

<!-- при створенні оверлея додаєм йому клас *js-overlay-modal* -->

<div class="products__modal modal" data-modal="products__modal">
  <button type="button" class="products__modal-icon-close js-modal-close">
    <svg width="20" height="20">
      <use href="./images/svg/svg-sprite.svg#close-icon"></use>
    </svg>
  </button>
  <p class="products__modal-title">Chololate icecream</p>
  <picture class="products__modal-img">
    <source
      srcset="
        ./images/modal-ingredients/chololate-icecream.png    1x,
        ./images/modal-ingredients/chololate-icecream-2x.png 2x
      "
    />
    <img
      src="./images/modal-ingredients/chololate-icecream.png"
      alt="ice cream"
      width="150"
      height="150"
    />
  </picture>
  <ul class="product__list">
    <li class="product__list-item">
      <p class="product-list-text">320</p>
      <p class="product-list-text--bottom">kcal</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">4g</p>
      <p class="product-list-text--bottom">Prote...</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">8,2g</p>
      <p class="product-list-text--bottom">Fats</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">40,4g</p>
      <p class="product-list-text--bottom">Carbs</p>
    </li>
  </ul>
  <p class="ingredients__title">Ingredients</p>
  <ul class="ingredients__title-list">
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Milk <span>100ml</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Belgian chocolate <span>20g</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Cream <span>150 ml</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Cocoa powder <span>30g</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Sugar <span>40g</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Vanilla sugar <span>10g</span></p>
    </li>
  </ul>
  <form class="modal__first-form">
    <div class="modal__first-field">
      <input
        type="text"
        id="name-1"
        name="name"
        class="modal__first-input"
        placeholder="Name"
        required
        pattern="[A-za-z]*?"
      />
      <label class="modal__first-label modal__first-label--left" for="name-1"
        >Name</label
      >
    </div>
    <div class="modal__first-field">
      <input
        type="tel"
        class="modal__first-input"
        id="tel-1"
        name="tel"
        placeholder="Phone"
        required
        pattern="\+?[0-9\s\-\(\)]+"
      />
      <label class="modal__first-label modal__first-label--left" for="tel-1"
        >Phone</label
      >
    </div>
    <div class="modal__first-field modal__first-field--margin-bottom">
      <textarea
        name="user-comment"
        id="user-comment-1"
        cols="30"
        rows="10"
        class="modal__first-textarea"
        placeholder="Comment"
      ></textarea>
      <label
        class="modal__first-label modal__first-label--left"
        for="user-comment-1"
        >Comment</label
      >
    </div>

    <button type="submit" class="modal__btn-submit">Submit</button>
  </form>
</div>

<div
  class="products__modal-ice-coffee modal products__modal"
  data-modal="products__modal-ice-coffee"
>
  <button type="button" class="products__modal-icon-close js-modal-close">
    <svg width="20" height="20">
      <use href="./images/svg/svg-sprite.svg#close-icon"></use>
    </svg>
  </button>
  <p class="products__modal-title">Ice coffee</p>
  <picture class="products__modal-img">
    <source
      srcset="
        ./images/modal-ingredients/ice-coffee-product.png    1x,
        ./images/modal-ingredients/ice-coffee-product-2x.png 2x
      "
    />
    <img
      src="./images/modal-ingredients/ice-coffee-product.png"
      alt="ice cream"
      width="150"
      height="150"
    />
  </picture>
  <ul class="product__list">
    <li class="product__list-item">
      <p class="product-list-text">242</p>
      <p class="product-list-text--bottom">kcal</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">9g</p>
      <p class="product-list-text--bottom">Prote...</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">8g</p>
      <p class="product-list-text--bottom">Fats</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">34g</p>
      <p class="product-list-text--bottom">Carbs</p>
    </li>
  </ul>
  <p class="ingredients__title">Ingredients</p>
  <ul class="ingredients__title-list">
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Milk <span>100ml</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Instant coffee <span>6g</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Ice <span>by taste</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Sugar <span>21g</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Water <span>75ml</span></p>
    </li>
  </ul>
  <form class="modal__first-form">
    <div class="modal__first-field">
      <input
        type="text"
        id="name-2"
        class="modal__first-input"
        placeholder="Name"
        required
        pattern="[A-za-z]*?"
      />
      <label class="modal__first-label modal__first-label--left" for="name-2"
        >Name</label
      >
    </div>
    <div class="modal__first-field">
      <input
        type="tel"
        id="tel-2"
        class="modal__first-input"
        placeholder="Phone"
        required
        pattern="\+?[0-9\s\-\(\)]+"
      />
      <label class="modal__first-label modal__first-label--left" for="tel-2"
        >Phone</label
      >
    </div>
    <div class="modal__first-field modal__first-field--margin-bottom">
      <textarea
        id="user-comment-2"
        cols="30"
        rows="10"
        class="modal__first-textarea"
        placeholder="Comment"
      ></textarea>
      <label
        class="modal__first-label modal__first-label--left"
        for="user-comment-2"
        >Comment</label
      >
    </div>

    <button type="submit" class="modal__btn-submit">Submit</button>
  </form>
</div>

<div
  class="products__modal-milkshakes modal products__modal"
  data-modal="products__modal-milkshakes"
>
  <button type="button" class="products__modal-icon-close js-modal-close">
    <svg width="20" height="20">
      <use href="./images/svg/svg-sprite.svg#close-icon"></use>
    </svg>
  </button>
  <p class="products__modal-title">Milkshakes</p>
  <picture class="products__modal-img">
    <source
      srcset="
        ./images/modal-ingredients/milkshakes.png    1x,
        ./images/modal-ingredients/milkshakes-2x.png 2x
      "
    />
    <img
      src="./images/modal-ingredients/milkshakes.png"
      alt="ice cream"
      width="150"
      height="150"
    />
  </picture>
  <ul class="product__list">
    <li class="product__list-item">
      <p class="product-list-text">343</p>
      <p class="product-list-text--bottom">kcal</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">5g</p>
      <p class="product-list-text--bottom">Prote...</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">7g</p>
      <p class="product-list-text--bottom">Fats</p>
    </li>
    <li class="product__list-item">
      <p class="product-list-text">68g</p>
      <p class="product-list-text--bottom">Carbs</p>
    </li>
  </ul>
  <p class="ingredients__title">Ingredients</p>
  <ul class="ingredients__title-list">
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Milk <span>50ml</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">
        Chocolate ice cream <span>216g</span>
      </p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Chocolate syrup <span>45ml</span></p>
    </li>
    <li class="ingredients__title-item">
      <p class="ingredients__title-text">Mint extract <span>1ml</span></p>
    </li>
  </ul>
  <form class="modal__first-form">
    <div class="modal__first-field">
      <input
        type="text"
        id="name-3"
        class="modal__first-input"
        placeholder="Name"
        required
        pattern="[A-za-z]*?"
      />
      <label class="modal__first-label modal__first-label--left" for="name-3"
        >Name</label
      >
    </div>
    <div class="modal__first-field">
      <input
        type="tel"
        id="tel-3"
        class="modal__first-input"
        placeholder="Phone"
        required
        pattern="\+?[0-9\s\-\(\)]+"
      />
      <label class="modal__first-label modal__first-label--left" for="tel-3"
        >Phone</label
      >
    </div>
    <div class="modal__first-field modal__first-field--margin-bottom">
      <textarea
        id="user-comment-3"
        cols="30"
        rows="10"
        class="modal__first-textarea"
        placeholder="Comment"
      ></textarea>
      <label
        class="modal__first-label modal__first-label--left"
        for="user-comment-3"
        >Comment</label
      >
    </div>

    <button type="submit" class="modal__btn-submit">Submit</button>
  </form>
</div>
