<!-- !Андрей Конаш -->

<!-- На посилання або кнопку що відкриває модальне вікно додаєм атрибут *class="js-open-modal"* і 
    *data-modal="*назва модального вікна*"* -->

<!-- На блок модального вікна додаєм атрибут *data-modal="*назва модального вікна*"* -->

<!-- До SVG додоєм клас *js-modal-close* -->

<!-- при створенні оверлея додаєм йому клас *js-overlay-modal* -->

<div class="franchise-modal" data-modal="franchise">
  <button type="submit" class="franchise-modal__close js-modal-close">
    <svg width="16" height="16">
      <use href="./images/svg/svg-sprite.svg#close-icon"></use>
    </svg>
  </button>
  <h3 class="franchise-modal__title">
    Thank you for your interest in owning an Ice Cream shop
  </h3>
  <p class="franchise-modal__pretitle">
    Due to the overwhelming volume of franchise requests we are not accepting
    new franchisee applications at this time. Once the application process
    resumes, we will contact you for further information. Please fill out the
    contact information below and we will reach out for additional information.
    We appreciate your patience.
  </p>

  <div class="franchise-modal__form">
    <form>
      <div class="form">
        <input
          type="text"
          class="form__input"
          name="user-name"
          placeholder="Name"
          required
          id="user-name"
        />

        <input
          type="tel"
          class="form__input"
          name="user-tel"
          placeholder="Phone"
          required
          minlength="10"
          id="user-tel"
        />

        <input
          type="email"
          class="form__input"
          name="user-email"
          placeholder="Email"
          required
          id="user-email"
        />

        <textarea
          name="input-coment"
          id="user-coment"
          class="form__coment"
          placeholder="Comment"
        ></textarea>
      </div>
      <button type="submit" class="form__btn">Submit</button>
    </form>
  </div>
</div>
<div class="overlay js-overlay-modal"></div>
