<!-- !Мазка Андрей -->
<section class="section about">
  <div class="container">
    <p class="about__pretitle">TRADITION AND LOVE</p>
    <h2 class="about__title">HOW IT'S MADE?</h2>
    <div class="about__container">
      <div class="about__picture">
        <picture>
          <source
            srcset="
              ./images/cow-desktop-1x.png 1x,
              ./images/cow-desktop-2x.png 2x
            "
            type="image/png"
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/cow-tablet-1x.png 1x,
              ./images/cow-tablet-2x.png 2x
            "
            type="image/png"
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/cow-mobile-1x.png 1x,
              ./images/cow-mobile-2x.png 2x
            "
            type="image/png"
            media="(max-width:767px)"
          />
          <img src="./images/cow-desktop-2x.png" alt="cow" />
        </picture>
      </div>
      <div class="about__article">
        <p class="about__text">
          Ice is a place where you will become not only a little happier, but
          also healthier. Health is the main value for us, and we follow it when
          creating our handmade desserts.
        </p>
        <p class="about__text about__text--low">
          We use traditional recipes and 100% natural ingredients. Our products
          are so natural that they can be given to children from the age of
          three years. Sweets lovers can expect 55 types of ice cream, 15 types
          of coffee and 23 milkshakes.
        </p>
        <p class="about__text about__text--low about__text--tab">
          This is enough to choose ice cream and coffee for any mood!
        </p>

        <button
          type="button"
          class="about__button js-open-modal"
          data-modal="read-more"
        >
          Read more
          <svg class="about__button--icon" width="5" height="8">
            <use href="./images/svg/svg-sprite.svg#icon-more"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
