<!-- !Мазка Андрей -->
<section class="advantages">
    <ul class="advantages__list">
        <li class="advantages__item">
            <div class="advantages__item--picture">
                <svg class="advantages__item--icon" width="36" height="36">
                    <use href="./images/svg/svg-sprite.svg#cow"></use>
                </svg>
            </div>
            <p class="advantages__item--index">721</p>
            <p class="advantages__item--text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advantages__item">
            <div class="advantages__item--picture">
                <svg class="advantages__item--icon" width="36" height="36">
                    <use href="./images/svg/svg-sprite.svg#weight"></use>
                </svg>
            </div>
            <p class="advantages__item--index">16kg</p>
            <p class="advantages__item--text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advantages__item">
            <div class="advantages__item--picture">
                <svg class="advantages__item--icon" width="36" height="36">
                    <use href="./images/svg/svg-sprite.svg#ice-crema"></use>
                </svg>
            </div>
            <p class="advantages__item--index">84</p>
            <p class="advantages__item--text">
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>
</section>