<!-- !Мазка Андрей -->
<section class="section advantages">
  <h2 class="advantages__title visually-hidden">Advantages</h2>
  <div>
    <ul class="advantages__list">
      <li
        class="advantages__item advantages__item--cow"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <p class="advantages__item--index">721</p>
        <p class="advantages__item--text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advantages__item advantages__item--weight"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <p class="advantages__item--index">16kg</p>
        <p class="advantages__item--text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li
        class="advantages__item advantages__item--icecrema"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <p class="advantages__item--index">84</p>
        <p class="advantages__item--text">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
