<!-- !Денис Мазуров -->
<div class="container">
  <h2 class="contacts__title visually-hidden">Contacts</h2>
  <ul class="contacts" id="contacts">
    <li class="contacts__box">
      <h3 class="contacts__category">CAFE</h3>
      <ul class="contacts__list">
        <li class="contacts__item">
          <h4 class="contacts__city">Chicago</h4>
        </li>
        <li>
          <a
            href=""
            class="contacts__street"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </li>
      </ul>
      <ul class="contacts__list contacts__list--border">
        <li class="contacts__item">
          <h5 class="contacts__work-day">Monday - Friday</h5>
          <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
          <h5 class="contacts__work-day">Saturday - Sunday</h5>
          <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="tel:+610383766284 " class="contacts__link">
            +61(0) 383 766 284
          </a>
        </li>
        <li class="contacts__item">
          <a href="mailto:noreply@envato.com" class="contacts__link">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </li>
    <li class="contacts__box">
      <h3 class="contacts__category">FOODTRUCK</h3>
      <ul class="contacts__list">
        <li>
          <h4 class="contacts__city">Los Angeles</h4>
          <a
            href=""
            class="contacts__street"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </li>
      </ul>
      <ul class="contacts__list contacts__list--border">
        <li class="contacts__item">
          <h5 class="contacts__work-day">Monday - Friday</h5>
          <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
          <h5 class="contacts__work-day">Saturday - Sunday</h5>
          <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="tel:+610383766284 " class="contacts__link">
            +61(0) 383 766 284
          </a>
        </li>
        <li class="contacts__item">
          <a href="mailto:noreply@envato.com" class="contacts__link">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </li>
    <li class="contacts__box">
      <h3 class="contacts__category">CAFE</h3>
      <ul class="contacts__list">
        <li>
          <h4 class="contacts__city">New York</h4>
          <a
            href=""
            class="contacts__street"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </li>
      </ul>
      <ul class="contacts__list contacts__list--border">
        <li class="contacts__item">
          <h5 class="contacts__work-day">Monday - Friday</h5>
          <p class="contacts__work-time">06:00 AM - 10:00 PM</p>
        </li>
        <li class="contacts__item">
          <h5 class="contacts__work-day">Saturday - Sunday</h5>
          <p class="contacts__work-time">08:00 AM - 16:00 PM</p>
        </li>
      </ul>
      <ul class="contacts__list">
        <li class="contacts__item">
          <a href="tel:+610383766284 " class="contacts__link">
            +61(0) 383 766 284
          </a>
        </li>
        <li class="contacts__item">
          <a href="mailto:noreply@envato.com" class="contacts__link">
            noreply@envato.com
          </a>
        </li>
      </ul>
    </li>
  </ul>
  <ul class="contacts__button">
    <li class="contacts__button-item">
      <button
        type="button"
        class="contacts__button-location js-open-modal"
        data-modal="our-location"
      >
        Our Locations
        <svg class="contacts__button-icon" width="5" height="8">
          <use href="./images/svg/svg-sprite.svg#icon-more"></use>
        </svg>
      </button>
    </li>
    <li class="contacts__button-item">
      <button
        type="button"
        class="contacts__button-franchise js-open-modal"
        data-modal="franchise"
      >
        Franchise
        <svg class="contacts__button-icon" width="5" height="8">
          <use href="./images/svg/svg-sprite.svg#icon-more"></use>
        </svg>
      </button>
    </li>
  </ul>
</div>
