<!-- !Чайка Антон -->
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top-container">
      <p class="footer__subtitle">homemade ice cream made</p>
      <p class="footer__title">with passion</p>
    </div>

    <div class="footer__bottom-container">
      <ul class="social-list">
        <li class="social-list__item social-list__item--github">
          <a class="social-list__link" href="https://github.com/">
            <svg class="social-list__icon" width="19px" height="19px">
              <use href="./images/svg/svg-sprite.svg#github1"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item social-list__item--telegram">
          <a class="social-list__link" href="https://web.telegram.org/">
            <svg class="social-list__icon" width="19px" height="15px">
              <use href="./images/svg/svg-sprite.svg#telegram1"></use>
            </svg>
          </a>
        </li>
        <li class="social-list__item social-list__item--facebook">
          <a class="social-list__link" href="https://www.facebook.com/">
            <svg class="social-list__icon" width="9px" height="19px">
              <use href="./images/svg/svg-sprite.svg#facebook1"></use>
            </svg>
          </a>
        </li>
      </ul>

      <p class="footer__text">
        Feel free to contact
        <a class="footer__phone" href="tel:+610383766284"
          >+61 (0) 383 766 284</a
        >
      </p>
    </div>
  </div>
  <div class="footer__line">
    <p class="footer__rights">&#169; 2022 - IceCream. All Rights Reserved.</p>
  </div>
</footer>
