<!-- !Гармаш Александр -->

<section class="slider">
  <div class="container">
    <ul
      class="gallery"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/slider/slide1@1.png 1x,
              ./images/slider/slide1@2.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/slider/slide1.png"
            alt="fruit ice-cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/slider/slide2@1.png 1x,
              ./images/slider/slide2@2.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/slider/slide2.png"
            alt="wow ice-cream"
          />
        </picture>
      </li>
      <li class="gallery__item">
        <picture>
          <source
            srcset="
              ./images/slider/slide3@1.png 1x,
              ./images/slider/slide3@2.png 2x
            "
            type="image/png"
          />
          <img
            class="gallery__img"
            src="./images/slider/slide3.png"
            alt="ice-cream cool"
          />
        </picture>
      </li>
    </ul>

    <div
      class="reviews"
      data-aos="fade-up"
      data-aos-anchor-placement="center-bottom"
    >
      <ul class="reviews__list list">
        <li class="reviews__item">
          <picture>
            <source
              srcset="
                ./images/review/emily@1.png 1x,
                ./images/review/emily@2.png 2x
              "
              type="image/png"
            />
            <img
              class="reviews__img"
              src="./images/review/emily.png"
              alt="emily"
            />
          </picture>

          <p class="reviews__text">
            I love visiting your cafe. You prepare the most delicious ice cream
            in Los Angeles! In addition, you have beautiful serving, cozy
            atmosphere and polite staff.
          </p>
          <p class="reviews__name">Emily, Los Angeles</p>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="
                ./images/review/sam@1.png 1x,
                ./images/review/sam@2.png 2x
              "
              type="image/png"
            />
            <img class="reviews__img" src="./images/review/sam.png" alt="sam" />
          </picture>

          <p class="reviews__text">
            I love eating popsicles on a hot day. Yours is always delicious. I
            recommend your cafe to everyone I know.
          </p>
          <p class="reviews__name">Sam, Los Angeles</p>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="
                ./images/review/diana@1.png 1x,
                ./images/review/diana@2.png 2x
              "
              type="image/png"
            />
            <img
              class="reviews__img"
              src="./images/review/diana.png"
              alt="sam"
            />
          </picture>

          <p class="reviews__text">
            Ice cream is my passion! I love your chocolate hazelnut ice cream!
            And I really like the excellent service - always served politely and
            quickly!
          </p>
          <p class="reviews__name">Diana, Chicago</p>
        </li>
        <li class="reviews__item">
          <picture>
            <source
              srcset="
                ./images/review/bryan@1.png 1x,
                ./images/review/bryan@2.png 2x
              "
              type="image/png"
            />
            <img
              class="reviews__img"
              src="/src/images/review/bryan.png"
              alt="sam"
            />
          </picture>

          <p class="reviews__text">
            Every day we come to you with friends after classes in college. We
            love your ice cream and casual atmosphere!
          </p>
          <p class="reviews__name">Bryan, New-York</p>
        </li>
      </ul>
    </div>
  </div>
  <picture>
    <source
      srcset="
        ./images/review/backdrop4.jpg   1x,
        ./images/review/backdrop4@2.jpg 2x
      "
      type="image/jpg"
    />
    <img
      class="slider__backdrop"
      src="./images/review/backdrop4.jpg"
      alt="sam"
    />
  </picture>
</section>
