<!-- !Іщук Віталій -->
<section class="section section-padding">
  <div class="conteiner header">
    <div class="header__mob">
      <svg class="header__icon--logo" width="40" height="37">
        <use href="./images/svg/svg-sprite.svg#ice-crem-desk"></use>
      </svg>
      <ul class="header-navigation">
        <li class="header-navigation__list">
          <a href="" class="header-navigation__link">Home</a>
        </li>
        <li class="header-navigation__list">
          <a href="" class="header-navigation__link">How it’s made?</a>
        </li>
        <li class="header-navigation__list">
          <a href="" class="header-navigation__link">Our products</a>
        </li>
        <li class="header-navigation__list">
          <a href="" class="header-navigation__link">Contact</a>
        </li>
      </ul>
      <div class="header__btr">
        <button type="button" class="header-open">
          <svg class="menu-icon" width="32" height="32">
            <use href="./images/svg/svg-sprite.svg#icon-burger"></use>
          </svg>
        </button>
        <button type="button" class="header__btr--buy">Buy now</button>
      </div>
      <div class="mob--nenu">
        <div class="mob-modal">
          <svg class="header__icon--logo" width="40" height="37">
            <use href="./images/svg/svg-sprite.svg#ice-crem-desk"></use>
          </svg>
          <button type="button" class="header__icon--close">
            <svg width="19" height="19">
              <use href="./images/svg/svg-sprite.svg#mobile-close"></use>
            </svg>
          </button>
        </div>
        <ul class="navigation">
          <li class="navigation__list">
            <a href="" class="navigation__link">Home</a>
          </li>
          <li class="navigation__list">
            <a href="" class="navigation__link">How it’s made?</a>
          </li>
          <li class="navigation__list">
            <a href="" class="navigation__link">Our products</a>
          </li>
          <li class="navigation__list">
            <a href="" class="navigation__link">Contact</a>
          </li>
        </ul>
        <button type="button" class="header__buy">Buy now</button>
      </div>
    </div>
  </div>
</section>

<section class="section hero">
  <div class="container hero__wrap">
    <div>
      <h1 class="hero__text">
        ice cream made with <span class="hero__text--span">passion</span>
      </h1>
      <div class="hero__info">
        <button class="hero__button" type="button">Products</button>
        <a href="" class="hero__link">How it’s made?</a>
      </div>
      <div class="hero__ice">
        <picture class="hero__grup">
          <source
            srcset="./images/header-hero/mob-grup-1x.png 1x"
            media="(min-width:768px)"
          />
          <img src="./images/header-hero/mob-grup-1x.png" alt="icecream" />
        </picture>
        <div class="dop-ice">
          <picture>
            <source
              srcset="
                ./images/header-hero/meni-ice-desc-1x.png 1x,
                ./images/header-hero/meni-ice-desc-2x.png
              "
              media="(min-width:1200px)"
            />
            <source
              srcset="
                ./images/header-hero/meni-ice-tab-1x.png 1x,
                ./images/header-hero/meni-ice-tab-2x.png
              "
              media="(min-width:768px)"
            />
            <img
              src="./images/header-hero/meni-ice-tab-1x.png"
              alt="many icecream"
            />
          </picture>
          <div class="dop-ice__info">
            <p class="dop-ice__text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et
            </p>
            <button type="button" class="dop-ice__btr"></button>
          </div>
        </div>
        <picture class="hero__foto--ice">
          <source
            srcset="
              ./images/header-hero/icecream-deck-1x.png 1x,
              ./images/header-hero/icecream-deck-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/header-hero/icecream-tab-1x.png 1x,
              ./images/header-hero/icecream-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/header-hero/icecream-mo-1x.png 1x,
              ./images/header-hero/icecream-mo-2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img src="./images/header-hero/icecream-deck-2x.png" alt="icecream" />
        </picture>
        -->
        <picture class="hero__foto--tochki">
          <source
            srcset="
              ./images/header-hero/tochka-deck-1x.png 1x,
              ./images/header-hero/tochka-deck-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/header-hero/tochka-tab-1x.png 1x,
              ./images/header-hero/tochka-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <source
            srcset="
              ./images/header-hero/tochka-mob-1x.png 1x,
              ./images/header-hero/tochka-mob-2x.png 2x
            "
            media="(max-width:768px)"
          />
          <img src="./images/header-hero/tochka-mob-2x.png" alt="icecream" />
        </picture>
        -->
        <!-- <picture class="hero__meni-ice">
          <source
            srcset="
              ./images/header-hero/meni-ice-desc-1x.png 1x,
              ./images/header-hero/meni-ice-desc-2x.png 2x
            "
            media="(min-width:1200px)"
          />
          <source
            srcset="
              ./images/header-hero/meni-ice-tab-1x.png 1x,
              ./images/header-hero/meni-ice-tab-2x.png 2x
            "
            media="(min-width:768px)"
          />
          <img src="./images/header-hero//meni-ice-tab-2x.png" alt="icecream" />
        </picture> -->
      </div>
    </div>
    <div class="client">
      <ul>
        <li>
          <p class="clients__number">16</p>
          <p class="clients__customers">cafes</p>
        </li>
        <li>
          <p class="clients__number">23</p>
          <p class="clients__customers">food trucks</p>
        </li>
      </ul>
    </div>
  </div>
</section>
<section class="dop"></section>
