<!-- !Сергей Машкоф -->
<section class="section products">
  <div class="сontainer">
    <img src="./images/products/morjo1.png" class="products-list__img" alt="" />
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title title">products</h2>
    <ul class="products-list list">
      <li class="products-list__item">
        <h3 class="products-list__title">ice cream</h3>
        <p class="products-list__text">
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>
        <button type="button" class="products-list__button">
          <svg class="products-list__icon" width="40" height="15">
            <use href="./images/svg/svg-sprite.svg#Arrow-1"></use>
          </svg>
        </button>
      </li>

      <li class="products-list__item">
        <h3 class="products-list__title">ice coffee</h3>
        <p class="products-list__text">
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>
        <button type="button" class="products-list__button">
          <svg class="products-list__icon" width="40" height="15">
            <use href="./images/svg/svg-sprite.svg#Arrow-1"></use>
          </svg>
        </button>
      </li>

      <li class="products-list__item">
        <h3 class="products-list__title">milkshakes</h3>
        <p class="products-list__text">
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>
        <button type="button" class="products-list__button">
          <svg class="products-list__icon" width="40" height="15">
            <use href="./images/svg/svg-sprite.svg#Arrow-1"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
