<!-- !Сергей Машкоф -->
<section class="products" id="products">
  <div class="products__container container">
    <p class="products__pre-title">100% natural</p>
    <h2 class="products__title">Products</h2>
    <ul class="products-list list">
      <li
        class="products__item products__item--ice-cream"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="products__circle products__circle--ice-cream"></div>
        <h3 class="products__name products__name--ice-cream">ice cream</h3>
        <p
          class="products__content"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          Soft ice cream with a delicate taste. Made with milk, cream, sugar and
          natural stabilizer
        </p>

        <button
          class="button__product button__product--ice-cream js-open-modal"
          type="button"
          data-modal="products__modal"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          <svg class="arrow" width="40" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-1"></use>
          </svg>
          <svg class="arrow__hover" width="50" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-2"></use>
          </svg>
          <svg class="arrow__focus" width="50" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-3"></use>
          </svg>
        </button>
      </li>
      <li
        class="products__item products__item--coffee"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="products__circle products__circle--coffee"></div>
        <h3 class="products__name products__name--coffee">ice coffee</h3>
        <p
          class="products__content"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          Fragrant invigorating drink created from 100% natural ingredients
          without the use of preservatives and flavor enhancers
        </p>

        <button
          class="button__product button__product--coffee js-open-modal"
          type="button"
          data-modal="products__modal-ice-coffee"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          <svg class="arrow" width="40" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-1"></use>
          </svg>
          <svg class="arrow__hover" width="50" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-2"></use>
          </svg>
          <svg class="arrow__focus" width="50" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-3"></use>
          </svg>
        </button>
      </li>
      <li
        class="products__item products__item--milkshake"
        data-aos="fade-up"
        data-aos-anchor-placement="top-bottom"
      >
        <div class="products__circle products__circle--milkshake"></div>
        <h3 class="products__name products__name--milkshake">milkshakes</h3>
        <p
          class="products__content"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          Sweet drinks based on milk and ice cream, supplemented with syrups,
          fruits, berries and other sweets of your choice
        </p>

        <button
          class="button__product button__product--milkshake js-open-modal"
          type="button"
          data-modal="products__modal-milkshakes"
          data-aos="fade-up"
          data-aos-anchor-placement="top-bottom"
        >
          <svg class="arrow" width="40" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-1"></use>
          </svg>
          <svg class="arrow__hover" width="50" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-2"></use>
          </svg>
          <svg class="arrow__focus" width="50" height="100%">
            <use href="./images/svg/svg-sprite.svg#Arrow-3"></use>
          </svg>
        </button>
      </li>
    </ul>
  </div>
</section>
