// !Мазка Андрей
.about {
  padding-bottom: 0px;
  @include for-size(tablet) {
    margin-bottom: 52px;
  }
  @include for-size(desktop) {
    padding-bottom: 60px;
  }
}

.about__container {
  @include for-size(tablet) {
    position: relative;
    display: flex;
  }
}

.about__pretitle {
  @extend %pre-title;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  color: #fcfcfc;
  padding: 0 auto;
  margin-bottom: 12px;
  @include for-size(tablet) {
    font-weight: 800;
    font-size: 22px;
  }
  @include for-size(desktop) {
    font-size: 30px;
  }
}
.about__title {
  @extend %title;
  font-size: 30px;
  color: #fcfcfc;
  width: 200px;
  margin: 0 auto 32px;
  @include for-size(tablet) {
    width: 100%;
    margin-bottom: 79px;
    font-size: 34px;
  }
  @include for-size(desktop) {
    font-size: 36px;
    margin-bottom: 172px;
  }
}

.about__picture {
  @include for-size(mobile-only) {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }
  @include for-size(tablet) {
    position: absolute;
    bottom: 0;
    left: -20px;
  }
  @include for-size(desktop) {
    bottom: -80px;
    width: 500px;
    height: auto;
  }
}
.about__article {
  @include for-size(tablet) {
    display: flex;
    flex-direction: column;
    max-width: 336px;
    margin-left: auto;
  }
  @include for-size(desktop) {
    max-width: 463px;
    margin-left: 616px;
  }
}
.about__text {
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  max-width: 220px;
  margin: 0 auto 4px;
  @include for-size(tablet) {
    max-width: 100%;
    margin: 0 0 8px;
    text-align: start;
  }
  @include for-size(desktop) {
    font-size: 16px;
  }
}
.about__text--low {
  line-height: 1.62;
  margin-bottom: 20px;
  @include for-size(tablet) {
    display: flex;
    margin-bottom: 8px;
  }
  @include for-size(desktop) {
    font-size: 14px;
  }
}
.about__text--tab {
  display: none;
  @include for-size(tablet) {
    display: flex;
    margin-bottom: 48px;
  }
}
.about__button {
  display: block;
  position: relative;
  padding: 12px 34px;
  text-align: left;
  width: 164px;
  height: 42px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  background-color: #f8d24e;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: 0 auto;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
    fill: #fcfcfc;
  }
  @include for-size(tablet) {
  }
}
.about__button--icon {
  position: absolute;
  top: 17px;
  right: 37px;
  border: 2px;
}
