// !Мазка Андрей
.about__title {
  @extend %pre-title;
  color: #fcfcfc;
  padding: 0 auto;
  margin-bottom: 12px;
}
.about__title--part {
  @extend %title;
  color: #fcfcfc;
  width: 200px;
  margin: 0 auto 32px;
}
.about__picture {
  display: block;
  margin-bottom: 40px;
}
.about__text {
  font-size: 12px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #fcfcfc;
  width: 220px;
  margin: 0 auto 4px;
}
.about__hightext {
  font-size: 12px;
  line-height: 1.62;
  text-align: center;
  color: #fcfcfc;
  width: 220px;
  margin: 0 auto 20px;
}
.about__button {
  display: block;
  position: relative;
  padding: 12px 34px;
  text-align: left;
  width: 164px;
  height: 42px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  color: #131313;
  background-color: #f8d24e;
  cursor: pointer;
  border-radius: 10px;
  border: none;
  margin: 0 auto 42px;
  &:hover {
    background-color: #0a8817;
  }
  &:focus {
    background-color: #0a8817;
    color: #fcfcfc;
    fill: #fcfcfc;
  }
}
.about__button--icon {
  position: absolute;
  top: 17px;
  right: 37px;
  border: 2px;
}
.advantages {
}
.advantages__item {
  margin-bottom: 27px;
}
.advantages__item--picture {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #f8d24e;
  margin: 0 auto 16px;
}
.advantages__item--icon {
}
.advantages__item--index {
  padding-top: 16px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fcfcfc;
  margin-bottom: 18px;
}
.advantages__item--text {
  width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;
  text-align: center;
  color: #fcfcfc;
  margin: 0 auto;
  padding-top: 18px;
}
