// !Денис Мазуров
.section__contacts {
  padding-bottom: 39px;
  @include for-size(tablet) {
    padding-bottom: 40px;
  }
  @include for-size(desktop) {
    padding-bottom: 120px;
  }
}

.contacts {
  display: block;
  font-style: normal;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    gap: 16px;
  }

  @include for-size(desktop) {
    gap: 32px;
  }
}

.contacts__box {
  max-width: 280px;
  height: 100%;
  background-color: $primary-white-color;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;

  padding: 40px 32px;

  @include for-size(mobile-only) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include for-size(tablet) {
    width: 224px;

    padding: 40px 24px;
  }
  @include for-size(desktop) {
    max-width: 100%;
    width: 368px;
    padding: 40px 40px;
  }
}

.contacts__category {
  display: inline-block;

  @include fonts(500, 12px, 1.86, 0.04em);

  background-color: $primary-default-button-color;
  border-radius: 6px;
  padding: 3px 7px;

  margin-bottom: 20px;

  @include for-size(tablet) {
    @include fonts(500, 16px, 1.86, 0.04em);
    margin-bottom: 32px;
  }
}
.contacts__list {
  margin-bottom: 24px;
  &:last-child {
    margin-bottom: 0;
  }
  @include for-size(tablet) {
    margin-bottom: 32px;
  }
}
.contacts__item--border-top {
  padding-top: 24px;
  border-top: 1px solid #e1e1e1;

  @include for-size(tablet) {
    padding-top: 32px;
  }
}
.contacts__item--border-bottom {
  padding-bottom: 24px;
  border-bottom: 1px solid #e1e1e1;

  @include for-size(tablet) {
    padding-bottom: 32px;
  }
}

.contacts__city {
  @include fonts(500, 12px, 1.86, 0.04em);
  margin-bottom: 8px;

  @include for-size(tablet) {
    @include fonts(500, 14px, 1.86, 0.04em);
    margin-bottom: 12px;
  }
  @include for-size(desktop) {
    @include fonts(500, 16px, 1.86, 0.04em);
    margin-bottom: 8px;
  }
}
.contacts__street {
  &:hover {
    text-decoration: underline;
  }

  @include fonts(500, 12px, 1.83, 0.04em);
  color: #d6936d;

  @include for-size(tablet) {
    @include fonts(500, 14px, 1.83, 0.04em);
  }

  @include for-size(desktop) {
    @include fonts(500, 16px, 1.83, 0.04em);
  }
}

.contacts__work-day {
  @include fonts(500, 12px, 1.86, 0.04em);
  color: $primary-text-color;

  @include for-size(tablet) {
    @include fonts(500, 14px, 1.86, 0.04em);
  }
  @include for-size(desktop) {
    @include fonts(500, 16px, 1.86, 0.04em);
  }
}

.contacts__work-time {
  @include fonts(500, 12px, 1.86, 0.04em);
  color: $primary-disabled-button-color;

  @include for-size(tablet) {
    @include fonts(500, 14px, 1.86, 0.04em);
  }
  @include for-size(desktop) {
    @include fonts(500, 16px, 1.86, 0.04em);
  }
}
.contacts__link {
  @include fonts(500, 12px, 1.5, null);
  color: $primary-text-color;

  @include for-size(tablet) {
    @include fonts(500, 14px, 1.83, null);
  }
  @include for-size(desktop) {
    @include fonts(500, 16px, 1.83, null);
  }
}
.contacts__button {
  display: flex;
  flex-direction: column;
  margin-top: 32px;

  @include for-size(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 60px;
  }
  @include for-size(desktop) {
    margin-top: 64px;
  }
}
.contacts__button-item {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }

  @include for-size(tablet) {
    margin-left: 0;
    margin-right: 16px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.contacts__button-location {
  align-items: center;
  text-align: center;
  width: 196px;
  height: 42px;
  @include fonts(600, 14px, 1.29, null);
  color: $primary-text-color;
  background-color: $primary-default-button-color;
  cursor: pointer;
  border: none;
  border-radius: 10px;

  &:hover {
    background-color: $primary-hover-focus-button-color;
  }
  &:focus {
    background-color: $primary-hover-focus-button-color;
    color: $primary-white-color;
    fill: $primary-white-color;
  }
  &:disabled {
    background-color: $primary-disabled-button-color;
    color: #000000;
    fill: #000000;
  }
}
.contacts__button-franchise {
  align-items: center;
  text-align: center;
  width: 196px;
  height: 42px;
  @include fonts(600, 14px, 1.29, null);
  color: $primary-text-color;
  background-color: $primary-background-color;
  cursor: pointer;
  border: 2px solid $primary-default-button-color;
  border-radius: 10px;

  &:hover {
    border-color: $primary-hover-focus-button-color;
  }

  &:focus {
    border-color: $primary-hover-focus-button-color;
    color: $primary-white-color;
    fill: $primary-white-color;
  }
  &:disabled {
    border-color: $primary-disabled-button-color;
    color: #000000;
    fill: #000000;
  }
}
