// !Сергей Машкоф!! //
.products {
  padding-top: 60px;
  padding-bottom: 60px;

  background: #f5f5f5;

  background-image: url(../images/products/bg-mob.png);
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  @include for-size(retina) {
    background-image: url(../images/products/bg-mob2x.png);
  }

  @include for-size(tablet) {
    padding-top: 61px;
    padding-right: 31px;
    padding-bottom: 82px;
    padding-left: 33px;

    background-image: url(../images/products/bg-mobTab.png);
    @include for-size(retina) {
      background-image: url(../images/products/bg-mobTab2x.png);
    }
  }

  @include for-size(desktop) {
    padding-top: 60px;
    padding-right: 13px;
    padding-bottom: 66px;
    padding-left: 13px;

    background-image: url(../images/products/bg-mobDesc.png);

    @include for-size(retina) {
      background-image: url(../images/products/bg-mobDesc2x.png);
    }
  }
}

.products__pre-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  text-transform: uppercase;

  color: #131313;

  margin-bottom: 12px;

  @include for-size(tablet) {
    font-size: 22px;
    line-height: 1.23;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.23;
  }
}

.products__title {
  font-family: 'Seymour One';

  font-weight: 400;
  font-size: 30px;
  line-height: 1.27;

  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #131313;

  margin-bottom: 148px;

  @include for-size(tablet) {
    font-size: 34px;
    line-height: 1.26;
    margin-bottom: 200px;
  }

  @include for-size(desktop) {
    font-size: 36px;
    line-height: 1.25;
    margin-bottom: 303px;
  }
}

.products-list {
  @include for-size(tablet) {
    display: flex;
    gap: 16px;
  }
}

.products__item {
  position: relative;

  padding-top: 123px;
  padding-left: 40px;
  padding-right: 40px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  width: 280px;
  height: 420px;
  border-radius: 24px;

  &--ice-cream {
    background-color: #aec6a5;
  }
  &--coffee {
    background-color: #efd478;
  }
  &--milkshake {
    background-color: #d6936d;
  }

  &:not(:last-child) {
    margin-bottom: 164px;
    @include for-size(tablet) {
      margin-bottom: 0;
    }
  }

  @include for-size(tablet) {
    flex-basis: calc((100% - 32px) / 3);
    height: 428px;
    width: 224px;
    padding-top: 108px;
    padding-right: 26px;
    padding-left: 26px;
  }

  @include for-size(desktop) {
    flex-basis: calc((100% - 64px) / 3);
    height: 535px;
    width: 370px;
    padding-top: 166px;
    padding-right: 63px;
    padding-left: 63px;
  }
}

.products__name {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #131313;

  &--ice-cream::before {
    position: absolute;
    top: -25%;
    right: 15%;
    display: block;

    content: '';
    width: 200px;
    height: 200px;
    background-image: url(../images/products/ice-cream1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    transition: transform 400ms ease;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-cream2x.png);
    }

    @include for-size(mobile) {
      right: 15%;
      background-image: url(../images/products/icecreamtab1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/icecreamtab2x.png);
      }
    }

    @include for-size(tablet) {
      right: 6%;
      background-image: url(../images/products/icecreamdesc1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/icecreamdesc2x.png);
      }
    }

    @include for-size(desktop) {
      width: 301px;
      height: 300px;
      top: -35%;
      // right: 10%;
    }
  }

  &--coffee::before {
    position: absolute;
    top: -25%;
    right: 15%;
    display: block;

    content: '';
    width: 200px;
    height: 200px;
    background-image: url(../images/products/ice-coffee1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: transform 400ms ease;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffee2x.png);
    }

    @include for-size(mobile) {
      right: 15%;
      background-image: url(../images/products/icecoffetab1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/icecoffetab2x.png);
      }
    }
    @include for-size(tablet) {
      right: 6%;
      background-image: url(../images/products/icecoffedesc1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/icecoffedesc2x.png);
      }
    }
    @include for-size(desktop) {
      width: 301px;
      height: 300px;
      top: -35%;
      right: 10%;
    }
  }

  &--milkshake::before {
    position: absolute;
    top: -25%;
    right: 15%;
    display: block;

    content: '';
    width: 200px;
    height: 200px;
    background-image: url(../images/products/milkshakes1x.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    transition: transform 400ms ease;
    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshakes2x.png);
    }
    @include for-size(mobile) {
      right: 15%;
      background-image: url(../images/products/milkshakestab1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakestab2x.png);
      }
    }
    @include for-size(tablet) {
      right: 6%;
      background-image: url(../images/products/milkshakesdesc1x.png);

      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (-o-min-device-pixel-ratio: 2/1),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/products/milkshakesdesc2x.png);
      }
    }
    @include for-size(desktop) {
      width: 301px;
      height: 300px;
      top: -35%;
      right: 10%;
    }
  }

  @include for-size(tablet) {
    font-size: 22px;
    line-height: 1.23;
  }

  @include for-size(desktop) {
    font-size: 30px;
    line-height: 1.23;

    margin-bottom: 65px;
  }
}

.products__name--ice-cream:hover::before,
.products__name--coffee:hover::before,
.products__name--milkshake:hover::before,
.products__name--ice-cream:focus::before,
.products__name--coffee:focus::before,
.products__name--milkshake:focus::before {
  transform: translateY(15px);
}

.products__content {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  color: #131313;

  margin: 0 auto;
  max-width: 200px;
  text-align: center;
  justify-content: center;
  align-items: center;

  @include for-size(desktop) {
    font-size: 16px;
  }
}

.products__circle {
  position: absolute;
  top: calc(-25% + 11.32px);
  right: 15%;
  width: 200px;
  height: 200px;
  border-radius: 50%;

  @include for-size(tablet) {
    right: 6%;
  }

  @include for-size(desktop) {
    width: 301px;
    height: 300px;
    top: calc(-35% + 11.32px);
    right: 10%;
  }
}

.button__product {
  position: absolute;
  bottom: 20px;
  right: 50%;
  transform: translateX(50%);
  display: block;
  margin-right: auto;
  margin-left: auto;
  background-color: transparent;
  border: none;

  outline: transparent;

  width: 150px;
  height: 50px;
  padding: 0;

  cursor: pointer;

  @include for-size(desktop) {
    bottom: 10px;
    width: 250px;
    height: 100px;
  }

  &:hover {
    .arrow__hover {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .arrow {
      display: none;
    }
  }

  &:focus {
    .arrow__focus {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .arrow,
    .arrow__hover {
      display: none;
    }
  }
}

.arrow__hover,
.arrow__focus {
  display: none;
}
